/* navbar-inferior */
#navbar-mobile {
    display: none;
}

@media (max-width: 600px) {
    #navbar-mobile {
        display: flex;
        width: 100%;
        bottom: 0 !important;
        top: auto !important;
        height: auto;

        position: fixed;
        z-index: 500;

    }

    #navbar-mobile-content{
        display: flex;
        width: 100%;
        background-color: var(--background-secondary);
        height: 60px;
        border-radius: 4px;
        box-shadow: 5px 5px 20px rgba(19, 86, 174, 0.16);
        flex-direction: row;
        justify-content: space-between;
        overflow: initial;
        margin: 20px;
    }

    .content-label-mobile {
        flex: 1 1 auto;
        margin: 0;
        width: 35px;
        align-items: center;
        height: auto;
        border-radius: 5px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .content-label-mobile label:active{
        color: var(--navbar-mobile);
    }

    .content-label-mobile label:hover{
        color: var(--navbar-mobile);
    }
    .content-label-mobile label svg{
        margin-bottom: 5px;
    }

    .content-label-mobile label {
        font-size: 10px;
        font-weight: 700;
        text-align: center;
        display: flex;
        flex-direction: column;
        color: var(--navbar-mobile);
    }

}